In [1]:
import pandas as pd

In [2]:
url = 'http://www.espn.com/mlb/stats/batting/_/year/2012/sort/homeRuns/order/true'

In [3]:
table = pd.read_html(url)
table

[                  0                  1     2    3    4    5    6    7    8   \
 0   Sortable Batting                NaN   NaN  NaN  NaN  NaN  NaN  NaN  NaN
 1                 RK             PLAYER  TEAM   AB    R    H   2B   3B   HR
 2                  1     Miguel Cabrera   DET  622  109  205   40    0   44
 3                  2      Josh Hamilton   TEX  562  103  160   31    2   43
 4                NaN  Curtis Granderson   NYY  596  102  138   18    4   43
 5                  4  Edwin Encarnacion   TOR  542   93  152   24    0   42
 6                  5          Adam Dunn   CHW  539   87  110   19    0   41
 7                NaN         Ryan Braun   MIL  598  108  191   36    3   41
 8                  7  Giancarlo Stanton   MIA  449   75  130   30    1   37
 9                  8      Adrian Beltre   TEX  604   95  194   33    2   36
 10                 9    Josh Willingham   MIN  519   85  135   30    1   35
 11                10          Jay Bruce   CIN  560   89  141   35    5   34
 12                RK             PLAYER  TEAM   AB    R    H   2B   3B   HR
 13                11       Adam LaRoche   WSH  571   76  155   35    1   33
 14               NaN      Robinson Cano   NYY  627  105  196   48    1   33
 15               NaN        Chris Davis   BAL  515   75  139   20    0   33
 16                14     Carlos Beltran   STL  547   83  147   26    1   32
 17               NaN    Alfonso Soriano   CHC  561   68  147   33    2   32
 18               NaN         Adam Jones   BAL  648  103  186   39    3   32
 19               NaN        Mark Trumbo   LAA  544   66  146   19    3   32
 20               NaN       Josh Reddick   OAK  611   85  148   29    5   32
 21               NaN          Ike Davis   NYM  519   66  118   26    0   32
 22                20   Andrew McCutchen   PIT  593  107  194   29    6   31
 23                RK             PLAYER  TEAM   AB    R    H   2B   3B   HR
 24               NaN      Chase Headley    SD  604   95  173   31    2   31
 25                22      Albert Pujols   LAA  607   85  173   50    0   30
 26               NaN     Prince Fielder   DET  581   83  182   33    1   30
 27               NaN         Corey Hart   MIL  562   91  152   35    4   30
 28               NaN        Jason Kubel   ARI  506   75  128   30    4   30
 29               NaN      Pedro Alvarez   PIT  525   64  128   25    1   30
 30               NaN         Mike Trout   LAA  559  129  182   27    8   30
 31                28       Billy Butler    KC  614   72  192   32    1   29
 32                29         B.J. Upton    TB  573   79  141   29    3   28
 33               NaN      Wilin Rosario   COL  396   67  107   19    0   28
 34                RK             PLAYER  TEAM   AB    R    H   2B   3B   HR
 35                31     Aramis Ramirez   MIL  570   92  171   50    3   27
 36               NaN    A.J. Pierzynski   CHW  479   68  133   18    4   27
 37               NaN      Jose Bautista   TOR  332   64   80   14    0   27
 38               NaN      Matt Holliday   STL  599   95  177   36    2   27
 39               NaN      Garrett Jones   PIT  475   68  130   28    3   27
 40               NaN      Jason Heyward   ATL  587   93  158   30    6   27
 41                37       Paul Konerko   CHW  533   66  159   22    0   26
 42               NaN       Ryan Ludwick   CIN  422   53  116   28    1   26
 43               NaN         Aaron Hill   ARI  609   93  184   44    6   26
 44                40          Alex Rios   CHW  605   93  184   37    8   25

      9    10   11   12   13    14    15    16    17    18
 0   NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN   NaN
 1   RBI   SB   CS   BB   SO   AVG   OBP   SLG   OPS   WAR
 2   139    4    1   66   98  .330  .393  .606  .999   6.9
 3   128    7    4   60  162  .285  .354  .577  .930   3.3
 4   106   10    3   75  195  .232  .319  .492  .811   2.7
 5   110   13    3   84   94  .280  .384  .557  .941   4.5
 6    96    2    1  105  222  .204  .333  .468  .800   0.9
 7   112   30    7   63  128  .319  .391  .595  .987   6.8
 8    86    6    2   46  143  .290  .361  .608  .969   5.4
 9   102    1    0   36   82  .321  .359  .561  .921   6.6
 10  110    3    2   76  141  .260  .366  .524  .890   2.9
 11   99    9    3   62  155  .252  .327  .514  .841   1.4
 12  RBI   SB   CS   BB   SO   AVG   OBP   SLG   OPS   WAR
 13  100    1    1   67  138  .271  .343  .510  .853   4.0
 14   94    3    2   61   96  .313  .379  .550  .929   8.2
 15   85    2    3   37  169  .270  .326  .501  .827   1.3
 16   97   13    6   65  124  .269  .346  .495  .842   3.6
 17  108    6    2   44  153  .262  .322  .499  .821   1.8
 18   82   16    7   34  126  .287  .334  .505  .839   3.4
 19   95    4    5   36  153  .268  .317  .491  .808   2.3
 20   85   11    1   55  151  .242  .305  .463  .768   4.5
 21   90    0    2   61  141  .227  .308  .462  .771   0.7
 22   96   20   12   70  132  .327  .400  .553  .953   7.0
 23  RBI   SB   CS   BB   SO   AVG   OBP   SLG   OPS   WAR
 24  115   17    6   86  157  .286  .376  .498  .875   6.0
 25  105    8    1   52   76  .285  .343  .516  .859   4.6
 26  108    1    0   85   84  .313  .412  .528  .940   4.5
 27   83    5    0   44  151  .270  .334  .507  .841   1.8
 28   90    1    1   57  151  .253  .327  .506  .833   0.8
 29   85    1    0   57  180  .244  .317  .467  .784   2.6
 30   83   49    5   67  139  .326  .399  .564  .963  10.7
 31  107    2    1   54  111  .313  .373  .510  .882   2.9
 32   78   31    6   45  169  .246  .298  .454  .752   2.6
 33   71    4    5   25   99  .270  .312  .530  .843   1.9
 34  RBI   SB   CS   BB   SO   AVG   OBP   SLG   OPS   WAR
 35  105    9    2   44   82  .300  .360  .540  .901   5.4
 36   77    0    0   28   78  .278  .326  .501  .827   2.6
 37   65    5    2   59   63  .241  .358  .527  .886   3.2
 38  102    4    4   75  132  .295  .379  .497  .877   3.8
 39   86    2    0   33  103  .274  .317  .516  .832   1.5
 40   82   21    8   58  152  .269  .335  .479  .814   5.5
 41   75    0    0   56   83  .298  .371  .486  .857   1.4
 42   80    0    1   42   97  .275  .346  .531  .877   1.7
 43   85   14    5   52   86  .302  .360  .522  .882   4.6
 44   91   23    6   26   92  .304  .334  .516  .850   4.2  ]

In [4]:
type(table)

list

In [5]:
df = table[0]
df.dropna()
df.columns=['RK', 'PLAYER', 'TEAM','AB','R','H','2B','3B','HR','RBI','SB','CS','BB','SO','AVG','OBP','SLG','OPS','WAR']

In [6]:
df = df.iloc[2:]

In [7]:
df.head()

,RK,PLAYER,TEAM,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,AVG,OBP,SLG,OPS,WAR
2,1,Miguel Cabrera,DET,622,109,205,40,0,44,139,4,1,66,98,.330,.393,.606,.999,6.9
3,2,Josh Hamilton,TEX,562,103,160,31,2,43,128,7,4,60,162,.285,.354,.577,.930,3.3
4,NaN,Curtis Granderson,NYY,596,102,138,18,4,43,106,10,3,75,195,.232,.319,.492,.811,2.7
5,4,Edwin Encarnacion,TOR,542,93,152,24,0,42,110,13,3,84,94,.280,.384,.557,.941,4.5
6,5,Adam Dunn,CHW,539,87,110,19,0,41,96,2,1,105,222,.204,.333,.468,.800,0.9

In [11]:
HR_leaders = []

In [12]:
for i in range(0, len(df)):
    HR_leaders.append({"Player" : df.iloc[i]['PLAYER'], "HR" : df.iloc[i]['HR']})
    print(df.iloc[i]['RK'], df.iloc[i]['PLAYER'], df.iloc[i]['HR'])

1 Miguel Cabrera 44
2 Josh Hamilton 43
nan Curtis Granderson 43
4 Edwin Encarnacion 42
5 Adam Dunn 41
nan Ryan Braun 41
7 Giancarlo Stanton 37
8 Adrian Beltre 36
9 Josh Willingham 35
10 Jay Bruce 34
RK PLAYER HR
11 Adam LaRoche 33
nan Robinson Cano 33
nan Chris Davis 33
14 Carlos Beltran 32
nan Alfonso Soriano 32
nan Adam Jones 32
nan Mark Trumbo 32
nan Josh Reddick 32
nan Ike Davis 32
20 Andrew McCutchen 31
RK PLAYER HR
nan Chase Headley 31
22 Albert Pujols 30
nan Prince Fielder 30
nan Corey Hart 30
nan Jason Kubel 30
nan Pedro Alvarez 30
nan Mike Trout 30
28 Billy Butler 29
29 B.J. Upton 28
nan Wilin Rosario 28
RK PLAYER HR
31 Aramis Ramirez 27
nan A.J. Pierzynski 27
nan Jose Bautista 27
nan Matt Holliday 27
nan Garrett Jones 27
nan Jason Heyward 27
37 Paul Konerko 26
nan Ryan Ludwick 26
nan Aaron Hill 26
40 Alex Rios 25

In [15]:
HR_leaders

[{'Player': 'Miguel Cabrera', 'HR': '44'},
 {'Player': 'Josh Hamilton', 'HR': '43'},
 {'Player': 'Curtis Granderson', 'HR': '43'},
 {'Player': 'Edwin Encarnacion', 'HR': '42'},
 {'Player': 'Adam Dunn', 'HR': '41'},
 {'Player': 'Ryan Braun', 'HR': '41'},
 {'Player': 'Giancarlo Stanton', 'HR': '37'},
 {'Player': 'Adrian Beltre', 'HR': '36'},
 {'Player': 'Josh Willingham', 'HR': '35'},
 {'Player': 'Jay Bruce', 'HR': '34'},
 {'Player': 'PLAYER', 'HR': 'HR'},
 {'Player': 'Adam LaRoche', 'HR': '33'},
 {'Player': 'Robinson Cano', 'HR': '33'},
 {'Player': 'Chris Davis', 'HR': '33'},
 {'Player': 'Carlos Beltran', 'HR': '32'},
 {'Player': 'Alfonso Soriano', 'HR': '32'},
 {'Player': 'Adam Jones', 'HR': '32'},
 {'Player': 'Mark Trumbo', 'HR': '32'},
 {'Player': 'Josh Reddick', 'HR': '32'},
 {'Player': 'Ike Davis', 'HR': '32'},
 {'Player': 'Andrew McCutchen', 'HR': '31'},
 {'Player': 'PLAYER', 'HR': 'HR'},
 {'Player': 'Chase Headley', 'HR': '31'},
 {'Player': 'Albert Pujols', 'HR': '30'},
 {'Player': 'Prince Fielder', 'HR': '30'},
 {'Player': 'Corey Hart', 'HR': '30'},
 {'Player': 'Jason Kubel', 'HR': '30'},
 {'Player': 'Pedro Alvarez', 'HR': '30'},
 {'Player': 'Mike Trout', 'HR': '30'},
 {'Player': 'Billy Butler', 'HR': '29'},
 {'Player': 'B.J. Upton', 'HR': '28'},
 {'Player': 'Wilin Rosario', 'HR': '28'},
 {'Player': 'PLAYER', 'HR': 'HR'},
 {'Player': 'Aramis Ramirez', 'HR': '27'},
 {'Player': 'A.J. Pierzynski', 'HR': '27'},
 {'Player': 'Jose Bautista', 'HR': '27'},
 {'Player': 'Matt Holliday', 'HR': '27'},
 {'Player': 'Garrett Jones', 'HR': '27'},
 {'Player': 'Jason Heyward', 'HR': '27'},
 {'Player': 'Paul Konerko', 'HR': '26'},
 {'Player': 'Ryan Ludwick', 'HR': '26'},
 {'Player': 'Aaron Hill', 'HR': '26'},
 {'Player': 'Alex Rios', 'HR': '25'}]